extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | Napster was created to help people find amazing songs.
        | <br /><br />
        | Napster helps you find the song you like.
        | <br /><br />
        | It's a good to go song for all in one moods right from the sad to happy.