extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1
          | NAPSTER
          small &nbsp;FIND BEST SONGS
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href='/song1') Na Roja Nuvve
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 365K
          p.address KHUSHI
          p
            span.label.label-warning Samantha 
            | &nbsp;
            span.label.label-warning Vijay
            | &nbsp;
            span.label.label-warning shiv Nirvana
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/song2') Naa Madhi
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 342K
          p.address THIRU
          p
            span.label.label-warning Dhanush
            | &nbsp;
            span.label.label-warning Nithya Menon
            | &nbsp;
            span.label.label-warning Mithran
            | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href='/song3') Mastaru 
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
            span.badge.pull-right.badge-default 670K
          p.address SIR
          p
            span.label.label-warning Dhanush
            | &nbsp;
            span.label.label-warning Samyuktha
            | &nbsp;
            span.label.label-warning Venky
            | &nbsp;
    .col-xs-12.col-sm-4
      p.lead
        | Looking for Nice song??? you will find it here.